/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}

.contenedor {
    background-color: #fff;
    max-width: 30%;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el título */
.titulo {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos para el generador de números */
.generador {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Estilos para los contenedores de cantidad, generar y porcentajes */
.container__cantidad,
.container__generar,
.container__porcentajes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
}

/* Estilos para la etiqueta de cantidad */
.lbl-cantidad {
    margin-right: 10px;
}

/* Estilos para el input de número */
.inp-number {
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilos para el botón Generar */
.btn-generar {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Estilos para el combo de números generados */
.combo {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilos para los porcentajes */
.pares,
impares,
simetrico {
    font-weight: bold;
}

/* Estilos para los porcentajes de pares e impares */
.pares {
    color: green;
}

impares {
    color: red;
}