/* Estilos para el encabezado */
header {
    background-color: #264d78; 
    color: white; 
    padding: 20px; 
    text-align: center; 
}

/* Estilos para el texto dentro del header */
header h1, header h2 {
    display: inline-block;
    text-align: center;
    width: 40%;
}

/* Estilos para el div */
div {
    border: 1px solid #b4b4b4; 
    padding: 10px; 
    margin: 10px;
}

/* Estilos para los contenedores de datos de estudiantes */
.alumno img {
    width: 250px;
    height: 345px;
    float: left;
}

.alumno {
    margin-left: 20px; 
    clear: both; 
    width: 60%; 
}

.alumno h2 {
    font-size: 24px; 
}

.alumno p {
    font-size: 18px; 
}

header img {
    float: left;
    margin-right: 20px;
}

/* Estilos para pantallas más pequeñas (menos de 750px) */
@media screen and (max-width: 750px) {
    .alumno img {
        width: 100%; /* Hace la imagen más grande en pantallas pequeñas */
        height: auto; /* Ajusta automáticamente el alto */
    }

    div {
        border: 1px solid #b4b4b4;
        padding: 20px; /* Aumenta el espacio interno del div en pantallas pequeñas */
        margin: 20px; /* Aumenta el margen del div en pantallas pequeñas */
    }

    .alumno h2 {
        font-size: 24px; /* Cambia el tamaño del encabezado en pantallas pequeñas */
    }

    .alumno p {
        font-size: 20px; /* Cambia el tamaño del texto en pantallas pequeñas */
    }
}