body{
    background-color: aliceblue;
    margin: 0 auto;
    padding: 0 auto;

}

#header{
    background-color: rgb(73, 73, 245);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    height: 100%;
    padding: 10px;
    
}

#contenedor{
    width: 45%;
    height: 100%;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    border-radius: 5px;
}

label{
    display: block;
    text-align: left;
    font-size: 20px;
}

input{
    display: block;
  
    width: 90%;
    padding: 10px;
    font-size: 17px;
    box-sizing: border-box;

}
select{
    display: block;
    width: 90%;
    padding: 10px;
    font-size: 17;
    box-sizing: border-box;
}

.texto{
    text-align: left;
}

button{
    padding: 10px 20px;
    background-color: #336699;
    color: white;
    border-radius: 5px;
    border: none;
    float: left;
    margin: 5px;
    
}